<div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create a new room</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Room name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" (keyup)="newRoomNameChange($event)">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closebutton>Cancel</button>
          <button type="button" class="btn btn-primary" [disabled]="roomName===''" (click)="onAddClick()">Add</button>
        </div>
      </div>
    </div>
  </div>