<app-top-bar></app-top-bar>
<div class="container">
    <div class="title">
        Search a User
    </div>
    <div class="card-text">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input #username type="text" class="form-control" placeholder="username" aria-label="username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="input-group mb-3">
        <input #sirens_low type="number" class="form-control" placeholder="Minimal # of sirens" aria-label="Minimal # of sirens">
        <span class="input-group-text">&lt;</span>
        <input #sirens_high type="number" class="form-control" placeholder="Maximal # of sirens" aria-label="Maximal # of sirens">
    </div>

    <button id="filter-btn" class="btn btn-primary w-100 mb-3" (click)="filter(username.value, sirens_low.value, sirens_high.value)">Filter</button>

    <ul class="list-group list-group-flush" style="height: calc(100% - 60px); overflow-y: scroll;">
        <li class="list-group-item" *ngFor="let user of users">
            <a routerLink="/profile/{{user._id}}">@{{ user._id }}</a>
            <span class="ml-2">({{ user.sirens }} sirens)</span>
        </li>
    </ul>
</div>