<app-top-bar></app-top-bar>
<div class="container">
    <div class="title">
        Search a Siren
    </div>
    <div class="card-text">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input #username type="text" class="form-control" placeholder="username" aria-label="username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="card-text">
        <div class="input-group mb-3">
            <input #roomname type="text" class="form-control" placeholder="room name" aria-label="room name">
        </div>
    </div>
    <div class="card-text">
        <div class="input-group mb-3">
            <textarea #content class="form-control" lines="3" placeholder="content" aria-label="content"></textarea>
        </div>
    </div>
    <button id="filter-btn" class="btn btn-primary w-100 mb-3" (click)="filter(username.value, roomname.value, content.value)">Filter</button>


<div class="card" *ngFor="let message of sirens" style="margin-bottom: 15px; text-align: left">
    <div class="card-header">
        <a routerLink="/Profile/{{ message.user }}" style="text-decoration: none">@{{ message.user }}</a>
        <span style="margin-left: 5px">{{ stringifyTimestamp(message.upload_time) }}</span>
    </div>
    <div class="card-body">{{ message.text }}</div>
    <div className="list-group list-group-flush">
        <div class="list-group-item">
            <button id="comments-{{ message._id }}-btn" class="btn btn-outline-dark" style="margin-right: 15px" (click)="onCommentsBtnClick(message._id)">{{ message.comments.length }} Comments</button>
            <button id="likes-{{ message._id }}-btn" class="btn btn-outline-success" disabled>{{ message.likes.length }} Likes</button>
            <button id="delete-msg-{{ message._id }}-btn" class="btn btn-danger" style="float: right" (click)="deleteMessage(message._id)">Delete message</button>
        </div>
        <div id="comments-{{ message._id }}" class="collapse">
            <div class="list-group-item" *ngFor="let comment of message.comments">
                <span class="col-sm-8" style="margin-right: 1rem; padding-left: 0px;">
                    <a routerLink="/Profile/{{ comment.user }}">@{{ comment.user }}</a>
                    <span style="margin-left: 10px">{{ stringifyTimestamp(comment.upload_time) }}</span>
                </span>
                <span class="col-sm-4">
                    <button id="delete-cmnt-{{ message._id }}-{{ comment._id }}-btn" class="btn btn-danger" style="float: right" (click)="deleteComment(message._id, comment._id)">-</button>
                </span>
                <br />
                <span>{{ comment.text }}</span>
            </div>
        </div>
    </div>
</div>
</div>