<nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand">Siren</span>
    <a id="btn-feed" class="navbar-brand" routerLink="/feed">Feed</a>
    <a id="btn-rooms" class="navbar-brand" routerLink="/rooms">Rooms</a>
    <a id="btn-data" class="navbar-brand" routerLink="/data">Data</a>
    <a id="btn-search-siren" class="navbar-brand" routerLink="/searchSiren">Search a Siren</a>
    <a id="btn-search-user" class="navbar-brand" routerLink="/searchUser">Search a User</a>
    <button type="submit" class="btn btn-outline-light" style="float: right" (click)="logout()">Logout</button>
</nav>